{% extends "layout.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/post.js') }}"></script>
<script>
  // iOS Safari向け :active 発火の保険
  document.addEventListener("touchstart", () => { }, { passive: true });
</script>

<style type="text/css">
  /* appearance を * じゃなくボタンにだけ */
  button.tap_action {
    -webkit-appearance: none;
    appearance: none;

    display: block;
    width: 520px;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 30px;
    border: none;

    cursor: pointer;
    touch-action: manipulation;
    /* 300ms遅延やダブルタップズーム抑止 */
  }

  /* iOSでも確実に押した瞬間に色が変わるように */
  button.tap_action:active {
    background: #58e2ec;
  }

  /* ボタンの中身(img)がタップを奪わないようにする */
  button.tap_action img {
    width: 500px;
    height: 500px;
    pointer-events: none;
  }

  img {
    width: 500px;
    height: 500px;
  }

  .tap_action {
    display: block;
    width: 520px;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 30px;
  }

  .tap_action:active {
    background: #58e2ec;
  }
</style>
<center>
  <h2>ポチポチ祭 ～Ver.β (2024)～</h2>
  <table class="buttun_table" border=0>
    <tr>
      <th>
        <button class="tap_action" tyep="button" id="good" , width="500px" , hegith="500px">
          <img src="{{ url_for('static', filename='images/good.png') }}" , alt='good' />
        </button>
      </th>
      <th>
        <button class="tap_action" tyep="button" id="i_see">
          <img src="{{ url_for('static', filename='images/i_see.png') }}" , alt='i_see' />
        </button>
      </th>
    </tr>
    <tr>
      <th>
        <button class="tap_action" tyep="button" id="laugh">
          <img src="{{ url_for('static', filename='images/laugh.png') }}" , alt='laugh' />
        </button>
      </th>
      <th>
        <button class="tap_action" tyep="button" id="question">
          <img src="{{ url_for('static', filename='images/question.png') }}" , alt='question' />
        </button>
      </th>
    </tr>
  </table>
</center>
{% endblock %}